html {
    font-size: 20px;
}

body {
    box-sizing: border-box;
    font-family: open sans,sans-serif;
    color: #393939;

}
.container{
    max-width: 82%;
    margin: 0 auto;
}
.nitro-coffee{
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.shopNow__header {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 10px;
}

.shopNow__content {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
}


.shopNow__link {
    text-decoration: none;
    position: relative;
}

.shopNow__button {
    font-size: 21px;
    font-weight: 400;
    margin-top: 9px;
    color: white;
    background-color: #5BACC3;
    padding: 20px;
    border: none;
    min-width: 180px;
    max-width: 80%;
}

.black-border{
    border: 2px solid #393939;
    min-width: 175px;
    max-width: 80%;
    height: 60px;
    position:absolute;
    top:-25px;
    left:-7px
}

.bigBag__img {
    max-width: 100%;
    margin-top: 25px;
    margin-right: 50px;

}
.product-container{
    background-color: #F7F7F7;
}

.product-card__header {
    text-align: center;
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 1px;
    padding-top: 45px;
}
.all-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 55px ;
    margin-bottom: 55px;
}
.product-card {
    min-width: 330px;
    max-width: 350px;
    min-height: 440px;
    max-height: 460px;
    border: solid 1px white;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px;
    box-shadow-color: rgba(0, 0, 0, 0.25);
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.product-card__img{
    padding: 30px;
    min-height: 240px;
    max-height: 550px;
}
.product-card__text{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #FFF0ED;
   justify-content: space-around;
    padding: 1.3rem;
}
.product-card__text-left{
    display: flex;
    flex-direction: column;
    line-height: 15px;
}

.product-card__title {
    font-weight: 300;
    font-size: 33px;
    margin-bottom: 0;
    margin-top: 15px;
}
.product-card__description{
    color: #909090;
}
.product-card__price {
    color: #5BACC3;
    font-size: 30px;
    font-weight: bold;
}

.shopNow__button--block {
    display: block;
    margin: 0 auto;
    position: relative;
}
.black-border2{
    border: 2px solid #393939;
    min-width: 175px;
    max-width: 80%;
    height: 60px;
    position:absolute;
    left:857px;
    bottom: 60px;
}
.different{
    background-color: white;
    padding-top: 70px;
}
.discount-img{
    display: flex;
    justify-content: space-between;
    margin:20px 0;
}
.different-img{
    width: 50px;
    max-width: 110px;
    min-width: 20px;
}
.learn-more{
    position: relative;
}
.black-border3 {
    border: 2px solid #393939;
    min-width: 175px;
    max-width: 80%;
    height: 60px;
    position: absolute;
    bottom:-15px;
    right: 5px;
}
.can{
    background-image: url("../assets/images/coldbrewbackground.png");
    background-size:cover;
    width: 435px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.black-border4 {
    border: 5px solid #5BACC3;
    width: 435px;
    height: 435px;
    position: absolute;
    left:-20px;
    top:-20px;
}
.discount {
    background-color: #FFF;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount-content {
    background-color: #393939;
    color: white;
    width: 80%;
    height: 65px;
    max-width: 90%;
    padding: 20px;
    text-align: center;
    font-size: 45px;
}

span {
    font-weight: 700;
}

.footer {
    background-color: #FFF0ED;
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer__head {
    font-size: 33px;
    font-weight: 400;
}
.footer__logo1{
   position: absolute;
    width: 100px;
    left:-205px;
    bottom: 10px;
    opacity: 25%;
}
.footer__logo2{
    position: absolute;
    width: 100px;
    right: -200px;
    opacity: 25%;
}

.footer__img {
    width: 50px;
    min-width: 50px;
    max-width: 120px;
}