@-webkit-keyframes can {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes can {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes glow {
  0% {
    background-color: #393939;
  }
  100% {
    background-color: #5bacc3;
  }
}
@keyframes glow {
  0% {
    background-color: #393939;
  }
  100% {
    background-color: #5bacc3;
  }
}
span {
  font-weight: 700;
}

html {
  font-size: 20px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: open sans, sans-serif;
  color: #393939;
}

.container {
  max-width: 82%;
  margin: 0 auto;
}

.nitro-coffee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopNow__header {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 10px;
}
.shopNow__content {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
}
.shopNow__link {
  text-decoration: none;
  position: relative;
}

.shopNow__button {
  font-size: 21px;
  font-weight: 400;
  margin-top: 9px;
  color: white;
  background-color: #5bacc3;
  padding: 20px;
  border: none;
  min-width: 180px;
  max-width: 80%;
}

.black-border {
  border: 2px solid #393939;
  min-width: 178px;
  max-width: 80%;
  height: 62px;
  position: absolute;
  top: -25px;
  left: -7px;
}
.black-border:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.bigBag__img {
  max-width: 100%;
  margin-top: 25px;
  margin-right: 50px;
}

.product-container {
  background-color: #f7f7f7;
}

.product-card__header {
  text-align: center;
  font-weight: 300;
  font-size: 60px;
  margin-bottom: 1px;
  padding-top: 45px;
}

.all-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 55px;
  margin-bottom: 55px;
}

.product-card {
  min-width: 330px;
  max-width: 350px;
  min-height: 440px;
  max-height: 460px;
  border: solid 1px white;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  width: 20%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.product-card__img {
  padding: 30px;
  min-height: 240px;
  max-height: 550px;
}
.product-card__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff0ed;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.3rem;
  margin-top: 22px;
}

.product-card__text-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 15px;
}
.product-card__title {
  font-weight: 300;
  font-size: 33px;
  margin-bottom: 0;
  margin-top: 15px;
}
.product-card__description {
  color: #909090;
}
.product-card__price {
  color: #5bacc3;
  font-size: 30px;
  font-weight: bold;
}

.shopNow__button--block {
  display: block;
  margin: 0 auto;
  position: relative;
}

.black-border2 {
  border: 2px solid #393939;
  min-width: 175px;
  max-width: 80%;
  height: 60px;
  position: absolute;
  left: 857px;
  bottom: 60px;
}
.black-border2:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.different {
  background-color: white;
  padding-top: 70px;
}

.discount-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.different-img {
  width: 50px;
  max-width: 110px;
  min-width: 20px;
}

.learn-more {
  position: relative;
}

.black-border3 {
  border: 2px solid #393939;
  min-width: 175px;
  max-width: 80%;
  height: 60px;
  position: absolute;
  bottom: -15px;
  right: 5px;
}
.black-border3:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.can {
  background-image: url("../assets/images/coldbrewbackground.png");
  background-size: cover;
  width: 435px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.can:hover .can__img {
  -webkit-animation-name: can;
          animation-name: can;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.black-border4 {
  border: 5px solid #5bacc3;
  width: 435px;
  height: 435px;
  position: absolute;
  left: -20px;
  top: -20px;
}
.black-border4:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
}

.discount {
  background-color: #ffffff;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discount-content {
  background-color: #393939;
  color: white;
  width: 80%;
  height: 65px;
  max-width: 90%;
  padding: 20px;
  text-align: center;
  font-size: 45px;
  -webkit-animation: glow 2.5s linear infinite alternate;
          animation: glow 2.5s linear infinite alternate;
}

.footer {
  font-size: 0.85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.footer__head {
  font-size: 33px;
  font-weight: 400;
}
.footer__logo1 {
  position: absolute;
  width: 100px;
  left: -205px;
  bottom: 10px;
  opacity: 25%;
}
.footer__logo2 {
  position: absolute;
  width: 100px;
  right: -200px;
  opacity: 25%;
}
.footer__img {
  width: 50px;
  min-width: 50px;
  max-width: 120px;
}
/*# sourceMappingURL=main.css.map */